In [ ]:
DROP TABLE IF EXISTS ch3.mst_users;
CREATE TABLE ch3.mst_users(
    user_id         string(255)
  , register_date   string(255)
  , register_device integer
);

INSERT INTO ch3.mst_users
VALUES
    ('U001', '2016-08-26', 1)
  , ('U002', '2016-08-26', 2)
  , ('U003', '2016-08-27', 3)
;